APP_NAME="Cemetery Reservation System"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/cemetery-system/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cemetery_db
DB_USERNAME=root
DB_PASSWORD=